<!DOCTYPE html>
<html lang="fr">
    <% include ./partials/head %>
    <body>

        <% include ./partials/header %>

        <h1>Express Movies: le site des cinéphiles</h1>
        <div>Amateurs de films ou de séries, vous êtes au bon endroit! Mais n'oubliez-pas de faire du sport "mens sana in corpore sano"</div>

        <div class="central"></div>

        <% include ./partials/footer %>
    </body>
</html>
